:host {
    position: relative;

    ::ng-deep {

        fs-label-field {
            position: relative;
            width: 100%;
        }

        .mat-checkbox {
            min-height: 26px;
            display: inline-block;
        }

        .checkboxes {
            line-height: 3px;

            &:not(.vertical) mat-checkbox {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }

            &.vertical mat-checkbox {
                display: block;
            }
        }
    }
}