:host {
  position: relative;

  ::ng-deep {

    fs-label-field {
      position: relative;
      width: 100%;
    }

    .checkboxes {
      &:not(.vertical) mat-checkbox {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }

      &.orientation-vertical {
        display: block;

        mat-checkbox {
          display: block;
          margin: 0;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &.position-center {
          mat-checkbox-layout {
            align-items: center;

            mat-checkbox-inner-container {
              margin-top: initial;
              margin-bottom: initial;
            }
          }
        }

        &.position-top {
          mat-checkbox-layout {
            white-space: normal;
            align-items: flex-start;

            mat-checkbox-inner-container {
              margin-top: unset;
            }
          }
        }
      }
    }

    mat-checkbox-layout {
      mat-checkbox-label {
        line-height: normal;
      }
    }

    .mat-internal-form-field {
      align-items: flex-start;
    }

    .mdc-label {
      padding-top: calc((var(--mdc-checkbox-state-layer-size, 40px) - 18px) / 2);
    }
  }
}
