:host {
    
    position: relative;
    padding-top: .84375em;
    min-height: 29px;
    display: inline-block;
    padding-bottom: 1.25em;

    .mat-form-field-label {
        display: block;
        top: 0;    
        transform: scale(.75);
        transform-origin: 0 0;
    }

    &.ng-invalid.ng-dirty {
        ::ng-deep mat-hint {
            display: none !important;
        }
    }

    ::ng-deep {
        .mat-checkbox {
            min-height: 29px;
            display: inline-block;
        }
        
        .checkboxes {
            line-height: 29px;

            &:not(.vertical) mat-checkbox {
                margin-left: 15px;

                &:first-child {
                    margin-left: 0;
                }
            }
            
            &.vertical mat-checkbox {
                display: block;
            }
        }

        mat-hint {
            font-size: 75%;
            font-weight: 400;
            display: block;
            margin-top: .54167em;
            line-height: initial;
        }
    }
}