:host {
    position: relative;
    padding-top: .84375em;
    min-height: 30px;
    display: inline-block;
}

.mat-form-field-label {
    display: block;
    top: 0;    
    transform: scale(.75) translateZ(.001px);
    transform-origin: 0 0;
}

:host ::ng-deep {
    .mat-checkbox-layout .mat-checkbox-label {
        line-height: 29px;
    }

    .checkboxes:not(.vertical) mat-checkbox {
        margin-left: 15px;

        &:first-child {
            margin-left: 0;
        }
    }

    .checkboxes.vertical mat-checkbox {
        display: block;
    }

    mat-hint {
        font-size: 75%;
        font-weight: 400;
        line-height: 1.125;
        display: block;
        margin-top: 0.54166667em;
    }
}

